<div class="card_list">
  <div class="card_body">
    <div class="card image">
      <div class="glow"></div>
    </div>
    <a class="pokemon"> 
      <section class="pokemon__status">
        <h2>
          Bulbasaur
        </h2>
        <ul class="pokemon__status-type"> 
          <li class="pokemon__status-type--grass">Grass</li>
          <li class="pokemon__status-type--poison">Poison</li>
        </ul>
      </section>
      <section class="pokemon__image">
        <img src="" alt="">
      </section>
    </a> 
  </div>
  <div class="card_body">
    <div class="card image">
      <div class="glow"></div>
    </div>
    <a class="pokemon"> 
      <section class="pokemon__status">
        <h2>
          Bulbasaur
        </h2>
        <ul class="pokemon__status-type"> 
          <li class="pokemon__status-type--grass">Grass</li>
          <li class="pokemon__status-type--poison">Poison</li>
        </ul>
      </section>
      <section class="pokemon__image">
        <img src="" alt="">
      </section>
    </a> 
  </div>
</div>