@import "./config-scss/reset.scss";
@import "./config-scss/variables.scss";
@import "./config-scss/rem-calc.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

html{
  font-family: "Roboto", sans-serif;
  background-color: var(--primary);
}

main{
  max-width: rem-calc(1024);
  margin: 0 auto;
  box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* {
	box-sizing: border-box;
}


